In [1]:
import psycopg2.extras
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

CONNECTION_REMOTE = "postgresql://postgres:iambatman@fdh-shmdb.fdh-is.com:5432/nellis_data"

In [2]:
def drop_duplicate_indices(df):
    df = df.drop_duplicates(subset='time')
    df = df.set_index('time')
    return df

In [3]:
# select 6-hour test window and pole
start_time = '2022-03-15 13:00:00'
end_time = '2022-03-15 19:00:00'
pole_id_A = '1'
pole_id_B = '2'

In [4]:
engine = create_engine(CONNECTION_REMOTE)
sts_disp_A = pd.read_sql(f"SELECT * FROM sts_displacement WHERE time >= '{start_time}' AND time < '{end_time}' AND id = '{pole_id_A}' ORDER BY time", engine) 
sts_disp_A = drop_duplicate_indices(sts_disp_A)
sts_disp_A.head()

                         disp_x  disp_y  disp_resultant  disp_azimuth id
time
2022-03-15 13:00:00.039 -0.5505 -0.0994          0.5594        -169.8  1
2022-03-15 13:00:00.089 -0.5499 -0.1001          0.5589        -169.7  1
2022-03-15 13:00:00.139 -0.5489 -0.1010          0.5581        -169.6  1
2022-03-15 13:00:00.189 -0.5482 -0.1017          0.5576        -169.5  1
2022-03-15 13:00:00.239 -0.5476 -0.1020          0.5570        -169.4  1

## Test Results Table Implementation

### Write to PostgreSQL table

In [5]:

engine = create_engine(CONNECTION_REMOTE)

df = sts_disp_A[0:10]

results = pd.DataFrame({}, columns=['dec_values','dec_arrays'])
for i in range(10):
    dec_arrays = np.array([(i * 0.1, 1), (i / 0.2, 2), (i + 0.336, 3)]).tolist()
    dec_values = i * 1.1 - 0.25
    row = pd.DataFrame({'dec_values': [dec_values], 'dec_arrays': [dec_arrays]})
    results = pd.concat([results,row], ignore_index=True, axis=0)

results.index = df.index

results.to_sql(name='test_arrays', con=engine, if_exists='append')
results

,dec_values,dec_arrays
time,,
2022-03-15 13:00:00.039,-0.25,"[[0.0, 1.0], [0.0, 2.0], [0.336, 3.0]]"
2022-03-15 13:00:00.089,0.85,"[[0.1, 1.0], [5.0, 2.0], [1.336, 3.0]]"
2022-03-15 13:00:00.139,1.95,"[[0.2, 1.0], [10.0, 2.0], [2.336, 3.0]]"
2022-03-15 13:00:00.189,3.05,"[[0.30000000000000004, 1.0], [15.0, 2.0], [3.3..."
2022-03-15 13:00:00.239,4.15,"[[0.4, 1.0], [20.0, 2.0], [4.336, 3.0]]"
2022-03-15 13:00:00.289,5.25,"[[0.5, 1.0], [25.0, 2.0], [5.336, 3.0]]"
2022-03-15 13:00:00.339,6.35,"[[0.6000000000000001, 1.0], [30.0, 2.0], [6.33..."
2022-03-15 13:00:00.389,7.45,"[[0.7000000000000001, 1.0], [35.0, 2.0], [7.33..."
2022-03-15 13:00:00.439,8.55,"[[0.8, 1.0], [40.0, 2.0], [8.336, 3.0]]"
2022-03-15 13:00:00.489,9.65,"[[0.9, 1.0], [45.0, 2.0], [9.336, 3.0]]"

### Read in and pull single values from array field

In [11]:
sql = "SELECT * FROM test_arrays"
df_read = pd.read_sql(sql, engine, 'time')

print(df_read.head())
print("Single Value [3][1][0]: " + str(df_read['dec_arrays'].iloc[3][1][0]))

                         dec_values  \
time
2022-03-15 13:00:00.039       -0.25
2022-03-15 13:00:00.089        0.85
2022-03-15 13:00:00.139        1.95
2022-03-15 13:00:00.189        3.05
2022-03-15 13:00:00.239        4.15

                                                                dec_arrays
time
2022-03-15 13:00:00.039             [[0.0, 1.0], [0.0, 2.0], [0.336, 3.0]]
2022-03-15 13:00:00.089             [[0.1, 1.0], [5.0, 2.0], [1.336, 3.0]]
2022-03-15 13:00:00.139            [[0.2, 1.0], [10.0, 2.0], [2.336, 3.0]]
2022-03-15 13:00:00.189  [[0.30000000000000004, 1.0], [15.0, 2.0], [3.3...
2022-03-15 13:00:00.239            [[0.4, 1.0], [20.0, 2.0], [4.336, 3.0]]
Single Value [3][1][0]: 15.0